In [1]:
import pandas as pd
import sqlite3 as lite

In [3]:
db=lite.connect("C:/Users/hanseo/extension-da/resources/data/schemaperfect.db")

In [4]:
query = """
    select *
    from sqlite_master
    where 
        type='table'
"""
pd.read_sql(query,db)

,type,name,tbl_name,rootpage,sql
0,table,Categories,Categories,2,"CREATE TABLE Categories(\n ""CategoryID"" TEXT,..."
1,table,Customers,Customers,3,"CREATE TABLE Customers(\n ""CustomerID"" TEXT,\..."
2,table,Employees,Employees,6,"CREATE TABLE Employees(\n ""EmployeeID"" TEXT,\..."
3,table,Shippers,Shippers,15,"CREATE TABLE Shippers(\n ""ShipperID"" TEXT,\n ..."
4,table,Suppliers,Suppliers,16,"CREATE TABLE Suppliers(\n ""SupplierID"" TEXT,\..."
5,table,Orders,Orders,11,"CREATE TABLE Orders(\nOrderID integer,\nCustom..."
6,table,OrderDetails,OrderDetails,7,CREATE TABLE OrderDetails(\nOrderDetailID inte...
7,table,Products,Products,14,"CREATE TABLE Products(\nProductID integer,\nPr..."

In [7]:
# inner join
# Customers <- Oders
query="""
    select * 
    from Customers C
    Join Orders O
    where C.CustomerID = O.CustomerID
"""
pd.read_sql(query,db)

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country,OrderID,CustomerID,EmployeeID,OrderDate,ShipperID
0,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,05021,Mexico,10308,2,7,1996-09-18,3
1,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,05023,Mexico,10365,3,3,1996-11-27,2
2,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK,10355,4,6,1996-11-15,1
3,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK,10383,4,8,1996-12-16,3
4,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden,10278,5,8,1996-08-12,2
5,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden,10280,5,2,1996-08-14,1
6,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden,10384,5,3,1996-12-16,3
7,7,Blondel père et fils,Frédérique Citeaux,24 place Kléber,Strasbourg,67000,France,10265,7,2,1996-07-25,1
8,7,Blondel père et fils,Frédérique Citeaux,24 place Kléber,Strasbourg,67000,France,10297,7,5,1996-09-04,2
9,7,Blondel père et fils,Frédérique Citeaux,24 place Kléber,Strasbourg,67000,France,10360,7,4,1996-11-22,3
10,7,Blondel père et fils,Frédérique Citeaux,24 place Kléber,Strasbourg,67000,France,10436,7,3,1997-02-05,2
11,8,Bólido Comidas preparadas,Martín Sommer,C/ Araquil 67,Madrid,28023,Spain,10326,8,4,1996-10-10,2
12,9,Bon app',Laurence Lebihans,12 rue des Bouchers,Marseille,13008,France,10331,9,9,1996-10-16,1
13,9,Bon app',Laurence Lebihans,12 rue des Bouchers,Marseille,13008,France,10340,9,1,1996-10-29,3
14,9,Bon app',Laurence Lebihans,12 rue des Bouchers,Marseille,13008,France,10362,9,3,1996-11-25,1
15,10,Bottom-Dollar Marketse,Elizabeth Lincoln,23 Tsawassen Blvd.,Tsawassen,T2F 8M4,Canada,10389,10,4,1996-12-20,2
16,10,Bottom-Dollar Marketse,Elizabeth Lincoln,23 Tsawassen Blvd.,Tsawassen,T2F 8M4,Canada,10410,10,3,1997-01-10,3
17,10,Bottom-Dollar Marketse,Elizabeth Lincoln,23 Tsawassen Blvd.,Tsawassen,T2F 8M4,Canada,10411,10,9,1997-01-10,3
18,10,Bottom-Dollar Marketse,Elizabeth Lincoln,23 Tsawassen Blvd.,Tsawassen,T2F 8M4,Canada,10431,10,4,1997-01-30,2
19,11,B's Beverages,Victoria Ashworth,Fauntleroy Circus,London,EC2 5NT,UK,10289,11,7,1996-08-26,3
20,13,Centro comercial Moctezuma,Francisco Chang,Sierras de Granada 9993,México D.F.,05022,Mexico,10259,13,4,1996-07-18,3
21,14,Chop-suey Chinese,Yang Wang,Hauptstr. 29,Bern,3012,Switzerland,10254,14,5,1996-07-11,2
22,14,Chop-suey Chinese,Yang Wang,Hauptstr. 29,Bern,3012,Switzerland,10370,14,6,1996-12-03,2
23,15,Comércio Mineiro,Pedro Afonso,Av. dos Lusíadas 23,São Paulo,05432-043,Brazil,10290,15,8,1996-08-27,1
24,16,Consolidated Holdings,Elizabeth Brown,Berkeley Gardens 12 Brewery,London,WX1 6LT,UK,10435,16,8,1997-02-04,2
25,17,Drachenblut Delikatessend,Sven Ottlieb,Walserweg 21,Aachen,52066,Germany,10363,17,4,1996-11-26,3
26,17,Drachenblut Delikatessend,Sven Ottlieb,Walserweg 21,Aachen,52066,Germany,10391,17,3,1996-12-23,3
27,18,Du monde entier,Janine Labrune,67 rue des Cinquante Otages,Nantes,44000,France,10311,18,1,1996-09-20,3
28,19,Eastern Connection,Ann Devon,35 King George,London,WX3 6FW,UK,10364,19,1,1996-11-26,1
29,19,Eastern Connection,Ann Devon,35 King George,London,WX3 6FW,UK,10400,19,1,1997-01-01,3
...,...,...,...,...,...,...,...,...,...,...,...,...
166,79,Toms Spezialitäten,Karin Josephs,Luisenstr. 48,Münster,44087,Germany,10438,79,3,1997-02-06,2
167,80,Tortuga Restaurante,Miguel Angel Paolino,Avda. Azteca 123,México D.F.,05033,Mexico,10276,80,8,1996-08-08,3
168,80,Tortuga Restaurante,Miguel Angel Paolino,Avda. Azteca 123,México D.F.,05033,Mexico,10293,80,1,1996-08-29,3
169,80,Tortuga Restaurante,Miguel Angel Paolino,Avda. Azteca 123,México D.F.,05033,Mexico,10304,80,1,1996-09-12,2
170,80,Tortuga Restaurante,Miguel Angel Paolino,Avda. Azteca 123,México D.F.,05033,Mexico,10319,80,7,1996-10-02,3
171,81,Tradição Hipermercados,Anabela Domingues,Av. Inês de Castro 414,São Paulo,05634-030,Brazil,10249,81,6,1996-07-05,1
172,81,Tradição Hipermercados,Anabela Domingues,Av. Inês de Castro 414,São Paulo,05634-030,Brazil,10292,81,1,1996-08-28,2
173,83,Vaffeljernet,Palle Ibsen,Smagsløget 45,Århus,8200,Denmark,10367,83,7,1996-11-28,3
174,83,Vaffeljernet,Palle Ibsen,Smagsløget 45,Århus,8200,Denmark,10399,83,8,1996-12-31,3
175,84,Victuailles en stock,Mary Saveley,2 rue du Commerce,Lyon,69004,France,10251,84,3,1996-07-08,1
176,84,Victuailles en stock,Mary Saveley,2 rue du Commerce,Lyon,69004,France,10334,84,8,1996-10-21,2
177,85,Vins et alcools Chevalier,Paul Henriot,59 rue de l'Abbaye,Reims,51100,France,10274,85,6,1996-08-06,1
178,85,Vins et alcools Chevalier,Paul Henriot,59 rue de l'Abbaye,Reims,51100,France,10295,85,2,1996-09-02,2
179,86,Die Wandernde Kuh,Rita Müller,Adenauerallee 900,Stuttgart,70563,Germany,10301,86,8,1996-09-09,2
180,86,Die Wandernde Kuh,Rita Müller,Adenauerallee 900,Stuttgart,70563,Germany,10312,86,2,1996-09-23,2
181,86,Die Wandernde Kuh,Rita Müller,Adenauerallee 900,Stuttgart,70563,Germany,10348,86,4,1996-11-07,2
182,86,Die Wandernde Kuh,Rita Müller,Adenauerallee 900,Stuttgart,70563,Germany,10356,86,6,1996-11-18,2
183,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland,10266,87,3,1996-07-26,3
184,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland,10270,87,1,1996-08-01,1
185,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland,10320,87,5,1996-10-03,3
186,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland,10333,87,5,1996-10-18,3
187,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland,10412,87,8,1997-01-13,2
188,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland,10416,87,8,1997-01-16,3
189,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland,10437,87,8,1997-02-05,1
190,88,Wellington Importadora,Paula Parente,Rua do Mercado 12,Resende,08737-363,Brazil,10256,88,3,1996-07-15,2
191,88,Wellington Importadora,Paula Parente,Rua do Mercado 12,Resende,08737-363,Brazil,10420,88,3,1997-01-21,1
192,89,White Clover Markets,Karl Jablonski,305 - 14th Ave. S. Suite 3B,Seattle,98128,USA,10269,89,5,1996-07-31,1
193,89,White Clover Markets,Karl Jablonski,305 - 14th Ave. S. Suite 3B,Seattle,98128,USA,10344,89,4,1996-11-01,2
194,90,Wilman Kala,Matti Karttunen,Keskuskatu 45,Helsinki,21240,Finland,10248,90,5,1996-07-04,3
195,91,Wolski,Zbyszek,ul. Filtrowa 68,Walla,01-012,Poland,10374,91,1,1996-12-05,3

In [8]:
# inner join
# Customers <- Oders
query="""
    select * 
    from Customers C, Orders O
    where C.CustomerID = O.CustomerID
"""
pd.read_sql(query,db)

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country,OrderID,CustomerID,EmployeeID,OrderDate,ShipperID
0,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,05021,Mexico,10308,2,7,1996-09-18,3
1,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,05023,Mexico,10365,3,3,1996-11-27,2
2,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK,10355,4,6,1996-11-15,1
3,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK,10383,4,8,1996-12-16,3
4,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden,10278,5,8,1996-08-12,2
5,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden,10280,5,2,1996-08-14,1
6,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden,10384,5,3,1996-12-16,3
7,7,Blondel père et fils,Frédérique Citeaux,24 place Kléber,Strasbourg,67000,France,10265,7,2,1996-07-25,1
8,7,Blondel père et fils,Frédérique Citeaux,24 place Kléber,Strasbourg,67000,France,10297,7,5,1996-09-04,2
9,7,Blondel père et fils,Frédérique Citeaux,24 place Kléber,Strasbourg,67000,France,10360,7,4,1996-11-22,3
10,7,Blondel père et fils,Frédérique Citeaux,24 place Kléber,Strasbourg,67000,France,10436,7,3,1997-02-05,2
11,8,Bólido Comidas preparadas,Martín Sommer,C/ Araquil 67,Madrid,28023,Spain,10326,8,4,1996-10-10,2
12,9,Bon app',Laurence Lebihans,12 rue des Bouchers,Marseille,13008,France,10331,9,9,1996-10-16,1
13,9,Bon app',Laurence Lebihans,12 rue des Bouchers,Marseille,13008,France,10340,9,1,1996-10-29,3
14,9,Bon app',Laurence Lebihans,12 rue des Bouchers,Marseille,13008,France,10362,9,3,1996-11-25,1
15,10,Bottom-Dollar Marketse,Elizabeth Lincoln,23 Tsawassen Blvd.,Tsawassen,T2F 8M4,Canada,10389,10,4,1996-12-20,2
16,10,Bottom-Dollar Marketse,Elizabeth Lincoln,23 Tsawassen Blvd.,Tsawassen,T2F 8M4,Canada,10410,10,3,1997-01-10,3
17,10,Bottom-Dollar Marketse,Elizabeth Lincoln,23 Tsawassen Blvd.,Tsawassen,T2F 8M4,Canada,10411,10,9,1997-01-10,3
18,10,Bottom-Dollar Marketse,Elizabeth Lincoln,23 Tsawassen Blvd.,Tsawassen,T2F 8M4,Canada,10431,10,4,1997-01-30,2
19,11,B's Beverages,Victoria Ashworth,Fauntleroy Circus,London,EC2 5NT,UK,10289,11,7,1996-08-26,3
20,13,Centro comercial Moctezuma,Francisco Chang,Sierras de Granada 9993,México D.F.,05022,Mexico,10259,13,4,1996-07-18,3
21,14,Chop-suey Chinese,Yang Wang,Hauptstr. 29,Bern,3012,Switzerland,10254,14,5,1996-07-11,2
22,14,Chop-suey Chinese,Yang Wang,Hauptstr. 29,Bern,3012,Switzerland,10370,14,6,1996-12-03,2
23,15,Comércio Mineiro,Pedro Afonso,Av. dos Lusíadas 23,São Paulo,05432-043,Brazil,10290,15,8,1996-08-27,1
24,16,Consolidated Holdings,Elizabeth Brown,Berkeley Gardens 12 Brewery,London,WX1 6LT,UK,10435,16,8,1997-02-04,2
25,17,Drachenblut Delikatessend,Sven Ottlieb,Walserweg 21,Aachen,52066,Germany,10363,17,4,1996-11-26,3
26,17,Drachenblut Delikatessend,Sven Ottlieb,Walserweg 21,Aachen,52066,Germany,10391,17,3,1996-12-23,3
27,18,Du monde entier,Janine Labrune,67 rue des Cinquante Otages,Nantes,44000,France,10311,18,1,1996-09-20,3
28,19,Eastern Connection,Ann Devon,35 King George,London,WX3 6FW,UK,10364,19,1,1996-11-26,1
29,19,Eastern Connection,Ann Devon,35 King George,London,WX3 6FW,UK,10400,19,1,1997-01-01,3
...,...,...,...,...,...,...,...,...,...,...,...,...
166,79,Toms Spezialitäten,Karin Josephs,Luisenstr. 48,Münster,44087,Germany,10438,79,3,1997-02-06,2
167,80,Tortuga Restaurante,Miguel Angel Paolino,Avda. Azteca 123,México D.F.,05033,Mexico,10276,80,8,1996-08-08,3
168,80,Tortuga Restaurante,Miguel Angel Paolino,Avda. Azteca 123,México D.F.,05033,Mexico,10293,80,1,1996-08-29,3
169,80,Tortuga Restaurante,Miguel Angel Paolino,Avda. Azteca 123,México D.F.,05033,Mexico,10304,80,1,1996-09-12,2
170,80,Tortuga Restaurante,Miguel Angel Paolino,Avda. Azteca 123,México D.F.,05033,Mexico,10319,80,7,1996-10-02,3
171,81,Tradição Hipermercados,Anabela Domingues,Av. Inês de Castro 414,São Paulo,05634-030,Brazil,10249,81,6,1996-07-05,1
172,81,Tradição Hipermercados,Anabela Domingues,Av. Inês de Castro 414,São Paulo,05634-030,Brazil,10292,81,1,1996-08-28,2
173,83,Vaffeljernet,Palle Ibsen,Smagsløget 45,Århus,8200,Denmark,10367,83,7,1996-11-28,3
174,83,Vaffeljernet,Palle Ibsen,Smagsløget 45,Århus,8200,Denmark,10399,83,8,1996-12-31,3
175,84,Victuailles en stock,Mary Saveley,2 rue du Commerce,Lyon,69004,France,10251,84,3,1996-07-08,1
176,84,Victuailles en stock,Mary Saveley,2 rue du Commerce,Lyon,69004,France,10334,84,8,1996-10-21,2
177,85,Vins et alcools Chevalier,Paul Henriot,59 rue de l'Abbaye,Reims,51100,France,10274,85,6,1996-08-06,1
178,85,Vins et alcools Chevalier,Paul Henriot,59 rue de l'Abbaye,Reims,51100,France,10295,85,2,1996-09-02,2
179,86,Die Wandernde Kuh,Rita Müller,Adenauerallee 900,Stuttgart,70563,Germany,10301,86,8,1996-09-09,2
180,86,Die Wandernde Kuh,Rita Müller,Adenauerallee 900,Stuttgart,70563,Germany,10312,86,2,1996-09-23,2
181,86,Die Wandernde Kuh,Rita Müller,Adenauerallee 900,Stuttgart,70563,Germany,10348,86,4,1996-11-07,2
182,86,Die Wandernde Kuh,Rita Müller,Adenauerallee 900,Stuttgart,70563,Germany,10356,86,6,1996-11-18,2
183,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland,10266,87,3,1996-07-26,3
184,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland,10270,87,1,1996-08-01,1
185,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland,10320,87,5,1996-10-03,3
186,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland,10333,87,5,1996-10-18,3
187,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland,10412,87,8,1997-01-13,2
188,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland,10416,87,8,1997-01-16,3
189,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland,10437,87,8,1997-02-05,1
190,88,Wellington Importadora,Paula Parente,Rua do Mercado 12,Resende,08737-363,Brazil,10256,88,3,1996-07-15,2
191,88,Wellington Importadora,Paula Parente,Rua do Mercado 12,Resende,08737-363,Brazil,10420,88,3,1997-01-21,1
192,89,White Clover Markets,Karl Jablonski,305 - 14th Ave. S. Suite 3B,Seattle,98128,USA,10269,89,5,1996-07-31,1
193,89,White Clover Markets,Karl Jablonski,305 - 14th Ave. S. Suite 3B,Seattle,98128,USA,10344,89,4,1996-11-01,2
194,90,Wilman Kala,Matti Karttunen,Keskuskatu 45,Helsinki,21240,Finland,10248,90,5,1996-07-04,3
195,91,Wolski,Zbyszek,ul. Filtrowa 68,Walla,01-012,Poland,10374,91,1,1996-12-05,3

In [9]:
# inner join
# Customers <- Oders
query="""
    select * 
    from Customers C
    Join Orders O
        On C.CustomerID = O.CustomerID
"""
pd.read_sql(query,db)

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country,OrderID,CustomerID,EmployeeID,OrderDate,ShipperID
0,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,05021,Mexico,10308,2,7,1996-09-18,3
1,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,05023,Mexico,10365,3,3,1996-11-27,2
2,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK,10355,4,6,1996-11-15,1
3,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK,10383,4,8,1996-12-16,3
4,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden,10278,5,8,1996-08-12,2
5,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden,10280,5,2,1996-08-14,1
6,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden,10384,5,3,1996-12-16,3
7,7,Blondel père et fils,Frédérique Citeaux,24 place Kléber,Strasbourg,67000,France,10265,7,2,1996-07-25,1
8,7,Blondel père et fils,Frédérique Citeaux,24 place Kléber,Strasbourg,67000,France,10297,7,5,1996-09-04,2
9,7,Blondel père et fils,Frédérique Citeaux,24 place Kléber,Strasbourg,67000,France,10360,7,4,1996-11-22,3
10,7,Blondel père et fils,Frédérique Citeaux,24 place Kléber,Strasbourg,67000,France,10436,7,3,1997-02-05,2
11,8,Bólido Comidas preparadas,Martín Sommer,C/ Araquil 67,Madrid,28023,Spain,10326,8,4,1996-10-10,2
12,9,Bon app',Laurence Lebihans,12 rue des Bouchers,Marseille,13008,France,10331,9,9,1996-10-16,1
13,9,Bon app',Laurence Lebihans,12 rue des Bouchers,Marseille,13008,France,10340,9,1,1996-10-29,3
14,9,Bon app',Laurence Lebihans,12 rue des Bouchers,Marseille,13008,France,10362,9,3,1996-11-25,1
15,10,Bottom-Dollar Marketse,Elizabeth Lincoln,23 Tsawassen Blvd.,Tsawassen,T2F 8M4,Canada,10389,10,4,1996-12-20,2
16,10,Bottom-Dollar Marketse,Elizabeth Lincoln,23 Tsawassen Blvd.,Tsawassen,T2F 8M4,Canada,10410,10,3,1997-01-10,3
17,10,Bottom-Dollar Marketse,Elizabeth Lincoln,23 Tsawassen Blvd.,Tsawassen,T2F 8M4,Canada,10411,10,9,1997-01-10,3
18,10,Bottom-Dollar Marketse,Elizabeth Lincoln,23 Tsawassen Blvd.,Tsawassen,T2F 8M4,Canada,10431,10,4,1997-01-30,2
19,11,B's Beverages,Victoria Ashworth,Fauntleroy Circus,London,EC2 5NT,UK,10289,11,7,1996-08-26,3
20,13,Centro comercial Moctezuma,Francisco Chang,Sierras de Granada 9993,México D.F.,05022,Mexico,10259,13,4,1996-07-18,3
21,14,Chop-suey Chinese,Yang Wang,Hauptstr. 29,Bern,3012,Switzerland,10254,14,5,1996-07-11,2
22,14,Chop-suey Chinese,Yang Wang,Hauptstr. 29,Bern,3012,Switzerland,10370,14,6,1996-12-03,2
23,15,Comércio Mineiro,Pedro Afonso,Av. dos Lusíadas 23,São Paulo,05432-043,Brazil,10290,15,8,1996-08-27,1
24,16,Consolidated Holdings,Elizabeth Brown,Berkeley Gardens 12 Brewery,London,WX1 6LT,UK,10435,16,8,1997-02-04,2
25,17,Drachenblut Delikatessend,Sven Ottlieb,Walserweg 21,Aachen,52066,Germany,10363,17,4,1996-11-26,3
26,17,Drachenblut Delikatessend,Sven Ottlieb,Walserweg 21,Aachen,52066,Germany,10391,17,3,1996-12-23,3
27,18,Du monde entier,Janine Labrune,67 rue des Cinquante Otages,Nantes,44000,France,10311,18,1,1996-09-20,3
28,19,Eastern Connection,Ann Devon,35 King George,London,WX3 6FW,UK,10364,19,1,1996-11-26,1
29,19,Eastern Connection,Ann Devon,35 King George,London,WX3 6FW,UK,10400,19,1,1997-01-01,3
...,...,...,...,...,...,...,...,...,...,...,...,...
166,79,Toms Spezialitäten,Karin Josephs,Luisenstr. 48,Münster,44087,Germany,10438,79,3,1997-02-06,2
167,80,Tortuga Restaurante,Miguel Angel Paolino,Avda. Azteca 123,México D.F.,05033,Mexico,10276,80,8,1996-08-08,3
168,80,Tortuga Restaurante,Miguel Angel Paolino,Avda. Azteca 123,México D.F.,05033,Mexico,10293,80,1,1996-08-29,3
169,80,Tortuga Restaurante,Miguel Angel Paolino,Avda. Azteca 123,México D.F.,05033,Mexico,10304,80,1,1996-09-12,2
170,80,Tortuga Restaurante,Miguel Angel Paolino,Avda. Azteca 123,México D.F.,05033,Mexico,10319,80,7,1996-10-02,3
171,81,Tradição Hipermercados,Anabela Domingues,Av. Inês de Castro 414,São Paulo,05634-030,Brazil,10249,81,6,1996-07-05,1
172,81,Tradição Hipermercados,Anabela Domingues,Av. Inês de Castro 414,São Paulo,05634-030,Brazil,10292,81,1,1996-08-28,2
173,83,Vaffeljernet,Palle Ibsen,Smagsløget 45,Århus,8200,Denmark,10367,83,7,1996-11-28,3
174,83,Vaffeljernet,Palle Ibsen,Smagsløget 45,Århus,8200,Denmark,10399,83,8,1996-12-31,3
175,84,Victuailles en stock,Mary Saveley,2 rue du Commerce,Lyon,69004,France,10251,84,3,1996-07-08,1
176,84,Victuailles en stock,Mary Saveley,2 rue du Commerce,Lyon,69004,France,10334,84,8,1996-10-21,2
177,85,Vins et alcools Chevalier,Paul Henriot,59 rue de l'Abbaye,Reims,51100,France,10274,85,6,1996-08-06,1
178,85,Vins et alcools Chevalier,Paul Henriot,59 rue de l'Abbaye,Reims,51100,France,10295,85,2,1996-09-02,2
179,86,Die Wandernde Kuh,Rita Müller,Adenauerallee 900,Stuttgart,70563,Germany,10301,86,8,1996-09-09,2
180,86,Die Wandernde Kuh,Rita Müller,Adenauerallee 900,Stuttgart,70563,Germany,10312,86,2,1996-09-23,2
181,86,Die Wandernde Kuh,Rita Müller,Adenauerallee 900,Stuttgart,70563,Germany,10348,86,4,1996-11-07,2
182,86,Die Wandernde Kuh,Rita Müller,Adenauerallee 900,Stuttgart,70563,Germany,10356,86,6,1996-11-18,2
183,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland,10266,87,3,1996-07-26,3
184,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland,10270,87,1,1996-08-01,1
185,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland,10320,87,5,1996-10-03,3
186,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland,10333,87,5,1996-10-18,3
187,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland,10412,87,8,1997-01-13,2
188,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland,10416,87,8,1997-01-16,3
189,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland,10437,87,8,1997-02-05,1
190,88,Wellington Importadora,Paula Parente,Rua do Mercado 12,Resende,08737-363,Brazil,10256,88,3,1996-07-15,2
191,88,Wellington Importadora,Paula Parente,Rua do Mercado 12,Resende,08737-363,Brazil,10420,88,3,1997-01-21,1
192,89,White Clover Markets,Karl Jablonski,305 - 14th Ave. S. Suite 3B,Seattle,98128,USA,10269,89,5,1996-07-31,1
193,89,White Clover Markets,Karl Jablonski,305 - 14th Ave. S. Suite 3B,Seattle,98128,USA,10344,89,4,1996-11-01,2
194,90,Wilman Kala,Matti Karttunen,Keskuskatu 45,Helsinki,21240,Finland,10248,90,5,1996-07-04,3
195,91,Wolski,Zbyszek,ul. Filtrowa 68,Walla,01-012,Poland,10374,91,1,1996-12-05,3

In [23]:
# left join

query="""
    select C.ContactName, O.OrderID
    from Customers C
    left Join Orders O
        on C.CustomerID = O.CustomerID
"""
pd.read_sql(query,db)

              ContactName  OrderID
0            Maria Anders      NaN
1            Ana Trujillo  10308.0
2          Antonio Moreno  10365.0
3            Thomas Hardy  10355.0
4            Thomas Hardy  10383.0
5      Christina Berglund  10278.0
6      Christina Berglund  10280.0
7      Christina Berglund  10384.0
8              Hanna Moos      NaN
9      Frédérique Citeaux  10265.0
10     Frédérique Citeaux  10297.0
11     Frédérique Citeaux  10360.0
12     Frédérique Citeaux  10436.0
13          Martín Sommer  10326.0
14      Laurence Lebihans  10331.0
15      Laurence Lebihans  10340.0
16      Laurence Lebihans  10362.0
17      Elizabeth Lincoln  10389.0
18      Elizabeth Lincoln  10410.0
19      Elizabeth Lincoln  10411.0
20      Elizabeth Lincoln  10431.0
21      Victoria Ashworth  10289.0
22       Patricio Simpson      NaN
23        Francisco Chang  10259.0
24              Yang Wang  10254.0
25              Yang Wang  10370.0
26           Pedro Afonso  10290.0
27        Elizabeth Brown  10435.0
28           Sven Ottlieb  10363.0
29           Sven Ottlieb  10391.0
..                    ...      ...
183  Miguel Angel Paolino  10276.0
184  Miguel Angel Paolino  10293.0
185  Miguel Angel Paolino  10304.0
186  Miguel Angel Paolino  10319.0
187     Anabela Domingues  10249.0
188     Anabela Domingues  10292.0
189        Helvetius Nagy      NaN
190           Palle Ibsen  10367.0
191           Palle Ibsen  10399.0
192          Mary Saveley  10251.0
193          Mary Saveley  10334.0
194          Paul Henriot  10274.0
195          Paul Henriot  10295.0
196           Rita Müller  10301.0
197           Rita Müller  10312.0
198           Rita Müller  10348.0
199           Rita Müller  10356.0
200      Pirkko Koskitalo  10266.0
201      Pirkko Koskitalo  10270.0
202      Pirkko Koskitalo  10320.0
203      Pirkko Koskitalo  10333.0
204      Pirkko Koskitalo  10412.0
205      Pirkko Koskitalo  10416.0
206      Pirkko Koskitalo  10437.0
207         Paula Parente  10256.0
208         Paula Parente  10420.0
209        Karl Jablonski  10269.0
210        Karl Jablonski  10344.0
211       Matti Karttunen  10248.0
212               Zbyszek  10374.0

[213 rows x 2 columns]

In [28]:
# self join

query="""
    select C1.CustomerName "CN1", C2.CustomerName "CN2", C1.City
    from Customers C1, Customers C2
    where
        C1.City=C2.City
        and C1.CustomerID!=C2.CustomerID
"""
pd.read_sql(query,db)

,CN1,CN2,City
0,Ana Trujillo Emparedados y helados,Centro comercial Moctezuma,México D.F.
1,Ana Trujillo Emparedados y helados,Antonio Moreno Taquería,México D.F.
2,Ana Trujillo Emparedados y helados,Pericles Comidas clásicas,México D.F.
3,Ana Trujillo Emparedados y helados,Tortuga Restaurante,México D.F.
4,Antonio Moreno Taquería,Centro comercial Moctezuma,México D.F.
5,Antonio Moreno Taquería,Ana Trujillo Emparedados y helados,México D.F.
6,Antonio Moreno Taquería,Pericles Comidas clásicas,México D.F.
7,Antonio Moreno Taquería,Tortuga Restaurante,México D.F.
8,Around the Horn,B's Beverages,London
9,Around the Horn,Consolidated Holdings,London
10,Around the Horn,Eastern Connection,London
11,Around the Horn,North/South,London
12,Around the Horn,Seven Seas Imports,London
13,Bólido Comidas preparadas,FISSA Fabrica Inter. Salchichas S.A.,Madrid
14,Bólido Comidas preparadas,Romero y tomillo,Madrid
15,B's Beverages,Consolidated Holdings,London
16,B's Beverages,Eastern Connection,London
17,B's Beverages,Around the Horn,London
18,B's Beverages,North/South,London
19,B's Beverages,Seven Seas Imports,London
20,Cactus Comidas para llevar,Océano Atlántico Ltda.,Buenos Aires
21,Cactus Comidas para llevar,Rancho grande,Buenos Aires
22,Centro comercial Moctezuma,Ana Trujillo Emparedados y helados,México D.F.
23,Centro comercial Moctezuma,Antonio Moreno Taquería,México D.F.
24,Centro comercial Moctezuma,Pericles Comidas clásicas,México D.F.
25,Centro comercial Moctezuma,Tortuga Restaurante,México D.F.
26,Comércio Mineiro,Familia Arquibaldo,São Paulo
27,Comércio Mineiro,Queen Cozinha,São Paulo
28,Comércio Mineiro,Tradição Hipermercados,São Paulo
29,Consolidated Holdings,B's Beverages,London
...,...,...,...
58,Pericles Comidas clásicas,Centro comercial Moctezuma,México D.F.
59,Pericles Comidas clásicas,Ana Trujillo Emparedados y helados,México D.F.
60,Pericles Comidas clásicas,Antonio Moreno Taquería,México D.F.
61,Pericles Comidas clásicas,Tortuga Restaurante,México D.F.
62,Princesa Isabel Vinhoss,Furia Bacalhau e Frutos do Mar,Lisboa
63,Que Delícia,Hanari Carnes,Rio de Janeiro
64,Que Delícia,Ricardo Adocicados,Rio de Janeiro
65,Queen Cozinha,Comércio Mineiro,São Paulo
66,Queen Cozinha,Familia Arquibaldo,São Paulo
67,Queen Cozinha,Tradição Hipermercados,São Paulo
68,Rancho grande,Cactus Comidas para llevar,Buenos Aires
69,Rancho grande,Océano Atlántico Ltda.,Buenos Aires
70,Ricardo Adocicados,Hanari Carnes,Rio de Janeiro
71,Ricardo Adocicados,Que Delícia,Rio de Janeiro
72,Romero y tomillo,FISSA Fabrica Inter. Salchichas S.A.,Madrid
73,Romero y tomillo,Bólido Comidas preparadas,Madrid
74,Seven Seas Imports,B's Beverages,London
75,Seven Seas Imports,Consolidated Holdings,London
76,Seven Seas Imports,Eastern Connection,London
77,Seven Seas Imports,Around the Horn,London
78,Seven Seas Imports,North/South,London
79,Spécialités du monde,Paris spécialités,Paris
80,The Big Cheese,Lonesome Pine Restaurant,Portland
81,Tortuga Restaurante,Centro comercial Moctezuma,México D.F.
82,Tortuga Restaurante,Ana Trujillo Emparedados y helados,México D.F.
83,Tortuga Restaurante,Antonio Moreno Taquería,México D.F.
84,Tortuga Restaurante,Pericles Comidas clásicas,México D.F.
85,Tradição Hipermercados,Comércio Mineiro,São Paulo
86,Tradição Hipermercados,Familia Arquibaldo,São Paulo
87,Tradição Hipermercados,Queen Cozinha,São Paulo

In [44]:
# Cohort Analysis with GA
db=lite.connect("C:/Users/hanseo/extension-da/resources/data/1804newuser.db")

In [54]:
query="""
    select *
    from sqlite_master
    Where
        type='table'
"""
pd.read_sql(query,db)

,type,name,tbl_name,rootpage,sql
0,table,NewUser,NewUser,2,"CREATE TABLE NewUser(\ndate numeric,\nuser int..."
1,table,day0,day0,3,"CREATE TABLE day0(\ndate numeric,\nuser integer)"
2,table,day1,day1,4,"CREATE TABLE day1(\ndate numeric,\nuser integer)"
3,table,day2,day2,5,"CREATE TABLE day2(\ndate numeric,\nuser integer)"
4,table,day3,day3,6,"CREATE TABLE day3(\ndate numeric,\nuser integer)"
5,table,day4,day4,7,"CREATE TABLE day4(\ndate numeric,\nuser integer)"
6,table,day5,day5,8,"CREATE TABLE day5(\ndate numeric,\nuser integer)"

In [55]:
query="""
    select *
    from NewUser
"""
pd.read_sql(query,db)

         date  user
0  2018-04-01  3929
1  2018-04-02  5729
2  2018-04-03  6199
3  2018-04-04  5780
4  2018-04-05  5291
5  2018-04-06  4826
6  2018-04-07  4040

In [56]:
query="""
    select *
    from day0
"""
pd.read_sql(query,db)

         date  user
0  2018-04-01    12
1  2018-04-02    16
2  2018-04-03    18
3  2018-04-04    15
4  2018-04-05    12
5  2018-04-06    11
6  2018-04-07     9

In [63]:
query="""
    select 
        N.date,
        N.user,
        round(day0.user*100.0 / N.user,2) "d0",
        round(day1.user*100.0 / N.user,2) "d1",
        round(day2.user*100.0 / N.user,2) "d2",
        round(day3.user*100.0 / N.user,2) "d3",
        round(day4.user*100.0 / N.user,2) "d4",
        round(day5.user*100.0 / N.user,2) "d5"
    from NewUser N
    join
        day0
        on N.date=day0.date
    join
        day1
        on N.date=day1.date
    join
        day2
        on N.date=day2.date
    join
        day3
        on N.date=day3.date
    join
        day4
        on N.date=day4.date
    join
        day5
        on N.date=day5.date
"""
pd.read_sql(query,db)

         date  user    d0    d1    d2    d3    d4    d5
0  2018-04-01  3929  0.31  0.10  0.03  0.03  0.00  0.00
1  2018-04-02  5729  0.28  0.10  0.03  0.03  0.00  0.00
2  2018-04-03  6199  0.29  0.13  0.06  0.05  0.02  0.00
3  2018-04-04  5780  0.26  0.09  0.02  0.02  0.02  0.02
4  2018-04-05  5291  0.23  0.19  0.13  0.08  0.04  0.02
5  2018-04-06  4826  0.23  0.10  0.04  0.02  0.00  0.00
6  2018-04-07  4040  0.22  0.10  0.05  0.02  0.00  0.00