In [13]:
import pandas as pd
import sqlite3 as lite

db=lite.connect('all_info.db')
sql="SELECT * FROM Customers;"

pd.read_sql(query,db)

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,05021,Mexico
2,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,05023,Mexico
3,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK
4,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden
5,6,Blauer See Delikatessen,Hanna Moos,Forsterstr. 57,Mannheim,68306,Germany
6,7,Blondel père et fils,Frédérique Citeaux,24 place Kléber,Strasbourg,67000,France
7,8,Bólido Comidas preparadas,Martín Sommer,C/ Araquil 67,Madrid,28023,Spain
8,9,Bon app',Laurence Lebihans,12 rue des Bouchers,Marseille,13008,France
9,10,Bottom-Dollar Marketse,Elizabeth Lincoln,23 Tsawassen Blvd.,Tsawassen,T2F 8M4,Canada
10,11,B's Beverages,Victoria Ashworth,Fauntleroy Circus,London,EC2 5NT,UK
11,12,Cactus Comidas para llevar,Patricio Simpson,Cerrito 333,Buenos Aires,1010,Argentina
12,13,Centro comercial Moctezuma,Francisco Chang,Sierras de Granada 9993,México D.F.,05022,Mexico
13,14,Chop-suey Chinese,Yang Wang,Hauptstr. 29,Bern,3012,Switzerland
14,15,Comércio Mineiro,Pedro Afonso,Av. dos Lusíadas 23,São Paulo,05432-043,Brazil
15,16,Consolidated Holdings,Elizabeth Brown,Berkeley Gardens 12 Brewery,London,WX1 6LT,UK
16,17,Drachenblut Delikatessend,Sven Ottlieb,Walserweg 21,Aachen,52066,Germany
17,18,Du monde entier,Janine Labrune,67 rue des Cinquante Otages,Nantes,44000,France
18,19,Eastern Connection,Ann Devon,35 King George,London,WX3 6FW,UK
19,20,Ernst Handel,Roland Mendel,Kirchgasse 6,Graz,8010,Austria
20,21,Familia Arquibaldo,Aria Cruz,Rua Orós 92,São Paulo,05442-030,Brazil
21,22,FISSA Fabrica Inter. Salchichas S.A.,Diego Roel,C/ Moralzarzal 86,Madrid,28034,Spain
22,23,Folies gourmandes,Martine Rancé,184 chaussée de Tournai,Lille,59000,France
23,24,Folk och fä HB,Maria Larsson,Åkergatan 24,Bräcke,S-844 67,Sweden
24,25,Frankenversand,Peter Franken,Berliner Platz 43,München,80805,Germany
25,26,France restauration,Carine Schmitt,54 rue Royale,Nantes,44000,France
26,27,Franchi S.p.A.,Paolo Accorti,Via Monte Bianco 34,Torino,10100,Italy
27,28,Furia Bacalhau e Frutos do Mar,Lino Rodriguez,Jardim das rosas n. 32,Lisboa,1675,Portugal
28,29,Galería del gastrónomo,Eduardo Saavedra,Rambla de Cataluña 23,Barcelona,08022,Spain
29,30,Godos Cocina Típica,José Pedro Freyre,C/ Romero 33,Sevilla,41101,Spain
...,...,...,...,...,...,...,...
61,62,Queen Cozinha,Lúcia Carvalho,Alameda dos Canàrios 891,São Paulo,05487-020,Brazil
62,63,QUICK-Stop,Horst Kloss,Taucherstraße 10,Cunewalde,01307,Germany
63,64,Rancho grande,Sergio Gutiérrez,Av. del Libertador 900,Buenos Aires,1010,Argentina
64,65,Rattlesnake Canyon Grocery,Paula Wilson,2817 Milton Dr.,Albuquerque,87110,USA
65,66,Reggiani Caseifici,Maurizio Moroni,Strada Provinciale 124,Reggio Emilia,42100,Italy
66,67,Ricardo Adocicados,Janete Limeira,Av. Copacabana 267,Rio de Janeiro,02389-890,Brazil
67,68,Richter Supermarkt,Michael Holz,Grenzacherweg 237,Genève,1203,Switzerland
68,69,Romero y tomillo,Alejandra Camino,Gran Vía 1,Madrid,28001,Spain
69,70,Santé Gourmet,Jonas Bergulfsen,Erling Skakkes gate 78,Stavern,4110,Norway
70,71,Save-a-lot Markets,Jose Pavarotti,187 Suffolk Ln.,Boise,83720,USA
71,72,Seven Seas Imports,Hari Kumar,90 Wadhurst Rd.,London,OX15 4NB,UK
72,73,Simons bistro,Jytte Petersen,Vinbæltet 34,København,1734,Denmark
73,74,Spécialités du monde,Dominique Perrier,25 rue Lauriston,Paris,75016,France
74,75,Split Rail Beer & Ale,Art Braunschweiger,P.O. Box 555,Lander,82520,USA
75,76,Suprêmes délices,Pascale Cartrain,Boulevard Tirou 255,Charleroi,B-6000,Belgium
76,77,The Big Cheese,Liz Nixon,89 Jefferson Way Suite 2,Portland,97201,USA
77,78,The Cracker Box,Liu Wong,55 Grizzly Peak Rd.,Butte,59801,USA
78,79,Toms Spezialitäten,Karin Josephs,Luisenstr. 48,Münster,44087,Germany
79,80,Tortuga Restaurante,Miguel Angel Paolino,Avda. Azteca 123,México D.F.,05033,Mexico
80,81,Tradição Hipermercados,Anabela Domingues,Av. Inês de Castro 414,São Paulo,05634-030,Brazil
81,82,Trail's Head Gourmet Provisioners,Helvetius Nagy,722 DaVinci Blvd.,Kirkland,98034,USA
82,83,Vaffeljernet,Palle Ibsen,Smagsløget 45,Århus,8200,Denmark
83,84,Victuailles en stock,Mary Saveley,2 rue du Commerce,Lyon,69004,France
84,85,Vins et alcools Chevalier,Paul Henriot,59 rue de l'Abbaye,Reims,51100,France
85,86,Die Wandernde Kuh,Rita Müller,Adenauerallee 900,Stuttgart,70563,Germany
86,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland
87,88,Wellington Importadora,Paula Parente,Rua do Mercado 12,Resende,08737-363,Brazil
88,89,White Clover Markets,Karl Jablonski,305 - 14th Ave. S. Suite 3B,Seattle,98128,USA
89,90,Wilman Kala,Matti Karttunen,Keskuskatu 45,Helsinki,21240,Finland
90,91,Wolski,Zbyszek,ul. Filtrowa 68,Walla,01-012,Poland

In [14]:
# check tables 
sql="""
    select name
    from sqlite_master
    where
        type = 'table';
"""
pd.read_sql(sql,db)

           name
0    Categories
1     Customers
2     Employees
3  OrderDetails
4        Orders
5      Products
6      Shippers
7     Suppliers

In [6]:
# check schema
sql="""
    SELECT sql
    FROM sqlite_master
    WHERE
        type = 'table';
"""
pd.options.display.max_colwidth=120
pd.read_sql(sql,db)

                                                                                                                       sql
0                          CREATE TABLE Categories(\n  "CategoryID" TEXT,\n  "CategoryName" TEXT,\n  "Description" TEXT\n)
1  CREATE TABLE Customers(\n  "CustomerID" TEXT,\n  "CustomerName" TEXT,\n  "ContactName" TEXT,\n  "Address" TEXT,\n  "...
2  CREATE TABLE Employees(\n  "EmployeeID" TEXT,\n  "LastName" TEXT,\n  "FirstName" TEXT,\n  "BirthDate" TEXT,\n  "Phot...
3        CREATE TABLE OrderDetails(\n  "OrderDetailID" TEXT,\n  "OrderID" TEXT,\n  "ProductID" TEXT,\n  "Quantity" TEXT\n)
4  CREATE TABLE Orders(\n  "OrderID" TEXT,\n  "CustomerID" TEXT,\n  "EmployeeID" TEXT,\n  "OrderDate" TEXT,\n  "Shipper...
5  CREATE TABLE Products(\n  "ProductID" TEXT,\n  "ProductName" TEXT,\n  "SupplierID" TEXT,\n  "CategoryID" TEXT,\n  "U...
6                                    CREATE TABLE Shippers(\n  "ShipperID" TEXT,\n  "ShipperName" TEXT,\n  "Phone" TEXT\n)
7  CREATE TABLE Suppliers(\n  "SupplierID" TEXT,\n  "SupplierName" TEXT,\n  "ContactName" TEXT,\n  "Address" TEXT,\n  "...

In [29]:
import time
start=time.time()

query="""
    select count(*)
    from OrderDetails
"""
count=pd.read_sql(query,db)
print(count)

end=time.time()
duration=end-start
print(duration)

   count(*)
0       518
0.010748147964477539

In [30]:
start=time.time()

count=len(pd.read_sql("select * from OrderDetails;",db))
print(count)

end=time.time()
duration=end-start
print(duration)

518
0.0

In [38]:
query="""
    select *
    from Customers;
    
"""
customer_df=pd.read_sql(query,db)
customer_df.head()

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,05021,Mexico
2,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,05023,Mexico
3,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK
4,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden

In [43]:
is_germany=customer_df["Country"]=="Germany"
is_france=customer_df["Country"]=="France"
is_paris=customer_df["City"]=="Paris"
customer_df[is_germany | is_france]

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
5,6,Blauer See Delikatessen,Hanna Moos,Forsterstr. 57,Mannheim,68306,Germany
6,7,Blondel père et fils,Frédérique Citeaux,24 place Kléber,Strasbourg,67000,France
8,9,Bon app',Laurence Lebihans,12 rue des Bouchers,Marseille,13008,France
16,17,Drachenblut Delikatessend,Sven Ottlieb,Walserweg 21,Aachen,52066,Germany
17,18,Du monde entier,Janine Labrune,67 rue des Cinquante Otages,Nantes,44000,France
22,23,Folies gourmandes,Martine Rancé,184 chaussée de Tournai,Lille,59000,France
24,25,Frankenversand,Peter Franken,Berliner Platz 43,München,80805,Germany
25,26,France restauration,Carine Schmitt,54 rue Royale,Nantes,44000,France
38,39,Königlich Essen,Philip Cramer,Maubelstr. 90,Brandenburg,14776,Germany
39,40,La corne d'abondance,Daniel Tonini,67 avenue de l'Europe,Versailles,78000,France
40,41,La maison d'Asie,Annette Roulet,1 rue Alsace-Lorraine,Toulouse,31000,France
43,44,Lehmanns Marktstand,Renate Messner,Magazinweg 7,Frankfurt a.M.,60528,Germany
51,52,Morgenstern Gesundkost,Alexander Feuer,Heerstr. 22,Leipzig,04179,Germany
55,56,Ottilies Käseladen,Henriette Pfalzheim,Mehrheimerstr. 369,Köln,50739,Germany
56,57,Paris spécialités,Marie Bertrand,265 boulevard Charonne,Paris,75012,France
62,63,QUICK-Stop,Horst Kloss,Taucherstraße 10,Cunewalde,01307,Germany
73,74,Spécialités du monde,Dominique Perrier,25 rue Lauriston,Paris,75016,France
78,79,Toms Spezialitäten,Karin Josephs,Luisenstr. 48,Münster,44087,Germany
83,84,Victuailles en stock,Mary Saveley,2 rue du Commerce,Lyon,69004,France
84,85,Vins et alcools Chevalier,Paul Henriot,59 rue de l'Abbaye,Reims,51100,France
85,86,Die Wandernde Kuh,Rita Müller,Adenauerallee 900,Stuttgart,70563,Germany

In [42]:
query="""
    select *
    from Customers
    where country="Germany" or Country="France"
"""
pd.read_sql(query,db)

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,6,Blauer See Delikatessen,Hanna Moos,Forsterstr. 57,Mannheim,68306,Germany
2,7,Blondel père et fils,Frédérique Citeaux,24 place Kléber,Strasbourg,67000,France
3,9,Bon app',Laurence Lebihans,12 rue des Bouchers,Marseille,13008,France
4,17,Drachenblut Delikatessend,Sven Ottlieb,Walserweg 21,Aachen,52066,Germany
5,18,Du monde entier,Janine Labrune,67 rue des Cinquante Otages,Nantes,44000,France
6,23,Folies gourmandes,Martine Rancé,184 chaussée de Tournai,Lille,59000,France
7,25,Frankenversand,Peter Franken,Berliner Platz 43,München,80805,Germany
8,26,France restauration,Carine Schmitt,54 rue Royale,Nantes,44000,France
9,39,Königlich Essen,Philip Cramer,Maubelstr. 90,Brandenburg,14776,Germany
10,40,La corne d'abondance,Daniel Tonini,67 avenue de l'Europe,Versailles,78000,France
11,41,La maison d'Asie,Annette Roulet,1 rue Alsace-Lorraine,Toulouse,31000,France
12,44,Lehmanns Marktstand,Renate Messner,Magazinweg 7,Frankfurt a.M.,60528,Germany
13,52,Morgenstern Gesundkost,Alexander Feuer,Heerstr. 22,Leipzig,04179,Germany
14,56,Ottilies Käseladen,Henriette Pfalzheim,Mehrheimerstr. 369,Köln,50739,Germany
15,57,Paris spécialités,Marie Bertrand,265 boulevard Charonne,Paris,75012,France
16,63,QUICK-Stop,Horst Kloss,Taucherstraße 10,Cunewalde,01307,Germany
17,74,Spécialités du monde,Dominique Perrier,25 rue Lauriston,Paris,75016,France
18,79,Toms Spezialitäten,Karin Josephs,Luisenstr. 48,Münster,44087,Germany
19,84,Victuailles en stock,Mary Saveley,2 rue du Commerce,Lyon,69004,France
20,85,Vins et alcools Chevalier,Paul Henriot,59 rue de l'Abbaye,Reims,51100,France
21,86,Die Wandernde Kuh,Rita Müller,Adenauerallee 900,Stuttgart,70563,Germany

In [51]:
product_df=pd.read_sql("select * from Products;",db)
product_df.sort_values("ProductName", ascending=False)

,ProductID,ProductName,SupplierID,CategoryID,Unit,Price
46,47,Zaanse koeken,22,3,10 - 4 oz boxes,9.5
63,64,Wimmers gute Semmelknödel,12,5,20 bags x 4 pieces,33.25
62,63,Vegie-spread,7,2,15 - 625 g jars,43.9
49,50,Valkoinen suklaa,23,3,12 - 100 g bars,16.25
6,7,Uncle Bob's Organic Dried Pears,3,7,12 - 1 lb pkgs.,30
22,23,Tunnbröd,9,5,12 - 250 g pkgs.,9
53,54,Tourtière,25,6,16 pies,7.45
13,14,Tofu,6,7,40 - 100 g pkgs.,23.25
28,29,Thüringer Rostbratwurst,12,6,50 bags x 30 sausgs.,123.79
18,19,Teatime Chocolate Biscuits,8,3,10 boxes x 12 pieces,9.2
61,62,Tarte au sucre,29,3,48 pies,49.3
34,35,Steeleye Stout,16,1,24 - 12 oz bottles,18
45,46,Spegesild,21,8,4 - 450 g glasses,12
60,61,Sirop d'érable,29,2,24 - 500 ml bottles,28.5
20,21,Sir Rodney's Scones,8,3,24 pkgs. x 4 pieces,10
19,20,Sir Rodney's Marmalade,8,3,30 gift boxes,81
41,42,Singaporean Hokkien Fried Mee,20,5,32 - 1 kg pkgs.,14
67,68,Scottish Longbreads,8,3,10 boxes x 8 pieces,12.5
26,27,Schoggi Schokolade,11,3,100 - 100 g pieces,43.9
33,34,Sasquatch Ale,16,1,24 - 12 oz bottles,14
44,45,Røgede sild,21,8,1k pkg.,9.5
27,28,Rössle Sauerkraut,12,7,25 - 825 g cans,45.6
72,73,Röd Kaviar,17,8,24 - 150 g jars,15
74,75,Rhönbräu Klosterbier,12,1,24 - 0.5 l bottles,7.75
56,57,Ravioli Angelo,26,5,24 - 250 g pkgs.,19.5
58,59,Raclette Courdavault,28,4,5 kg pkg.,55
11,12,Queso Manchego La Pastora,5,4,10 - 500 g pkgs.,38
10,11,Queso Cabrales,5,4,1 kg pkg.,21
54,55,Pâté chinois,25,6,24 boxes x 2 pies,24
52,53,Perth Pasties,24,6,48 pieces,32.8
...,...,...,...,...,...,...
40,41,Jack's New England Clam Chowder,19,8,12 - 12 oz cans,9.65
42,43,Ipoh Coffee,20,1,16 - 500 g tins,46
35,36,Inlagd Sill,17,8,24 - 250 g jars,19
9,10,Ikura,4,8,12 - 200 ml jars,31
21,22,Gustaf's Knäckebröd,9,5,24 - 500 g pkgs.,21
25,26,Gumbär Gummibärchen,11,3,100 - 250 g bags,31.23
43,44,Gula Malacca,20,2,20 - 2 kg bags,19.45
68,69,Gudbrandsdalsost,15,4,10 kg pkg.,36
23,24,Guaraná Fantástica,10,1,12 - 355 ml cans,4.5
36,37,Gravad lax,17,8,12 - 500 g pkgs.,26
5,6,Grandma's Boysenberry Spread,3,2,12 - 8 oz jars,25
30,31,Gorgonzola Telino,14,4,12 - 100 g pkgs,12.5
55,56,Gnocchi di nonna Alice,26,5,24 - 250 g pkgs.,38
14,15,Genen Shouyu,6,2,24 - 250 ml bottles,15.5
32,33,Geitost,15,4,500 g,2.5
70,71,Fløtemysost,15,4,10 - 500 g pkgs.,21.5
51,52,Filo Mix,24,5,16 - 2 kg boxes,7
57,58,Escargots de Bourgogne,27,8,24 pieces,13.25
37,38,Côte de Blaye,18,1,12 - 75 cl bottles,263.5
47,48,Chocolade,22,3,10 pkgs.,12.75
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22
38,39,Chartreuse verte,18,1,750 cc per bottle,18
1,2,Chang,1,1,24 - 12 oz bottles,19
0,1,Chais,1,1,10 boxes x 20 bags,18
17,18,Carnarvon Tigers,7,8,16 kg pkg.,62.5
59,60,Camembert Pierrot,28,4,15 - 300 g rounds,34
39,40,Boston Crab Meat,19,8,24 - 4 oz tins,18.4
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10
16,17,Alice Mutton,7,6,20 - 1 kg tins,39

In [61]:
query="""
    select *
    from Products
    order by ProductName desc;
"""
# asc는 오름차순이고 기본값이다
pd.read_sql(query,db)

,ProductID,ProductName,SupplierID,CategoryID,Unit,Price
0,47,Zaanse koeken,22,3,10 - 4 oz boxes,9.5
1,64,Wimmers gute Semmelknödel,12,5,20 bags x 4 pieces,33.25
2,63,Vegie-spread,7,2,15 - 625 g jars,43.9
3,50,Valkoinen suklaa,23,3,12 - 100 g bars,16.25
4,7,Uncle Bob's Organic Dried Pears,3,7,12 - 1 lb pkgs.,30
5,23,Tunnbröd,9,5,12 - 250 g pkgs.,9
6,54,Tourtière,25,6,16 pies,7.45
7,14,Tofu,6,7,40 - 100 g pkgs.,23.25
8,29,Thüringer Rostbratwurst,12,6,50 bags x 30 sausgs.,123.79
9,19,Teatime Chocolate Biscuits,8,3,10 boxes x 12 pieces,9.2
10,62,Tarte au sucre,29,3,48 pies,49.3
11,35,Steeleye Stout,16,1,24 - 12 oz bottles,18
12,46,Spegesild,21,8,4 - 450 g glasses,12
13,61,Sirop d'érable,29,2,24 - 500 ml bottles,28.5
14,21,Sir Rodney's Scones,8,3,24 pkgs. x 4 pieces,10
15,20,Sir Rodney's Marmalade,8,3,30 gift boxes,81
16,42,Singaporean Hokkien Fried Mee,20,5,32 - 1 kg pkgs.,14
17,68,Scottish Longbreads,8,3,10 boxes x 8 pieces,12.5
18,27,Schoggi Schokolade,11,3,100 - 100 g pieces,43.9
19,34,Sasquatch Ale,16,1,24 - 12 oz bottles,14
20,45,Røgede sild,21,8,1k pkg.,9.5
21,28,Rössle Sauerkraut,12,7,25 - 825 g cans,45.6
22,73,Röd Kaviar,17,8,24 - 150 g jars,15
23,75,Rhönbräu Klosterbier,12,1,24 - 0.5 l bottles,7.75
24,57,Ravioli Angelo,26,5,24 - 250 g pkgs.,19.5
25,59,Raclette Courdavault,28,4,5 kg pkg.,55
26,12,Queso Manchego La Pastora,5,4,10 - 500 g pkgs.,38
27,11,Queso Cabrales,5,4,1 kg pkg.,21
28,55,Pâté chinois,25,6,24 boxes x 2 pies,24
29,53,Perth Pasties,24,6,48 pieces,32.8
...,...,...,...,...,...,...
47,41,Jack's New England Clam Chowder,19,8,12 - 12 oz cans,9.65
48,43,Ipoh Coffee,20,1,16 - 500 g tins,46
49,36,Inlagd Sill,17,8,24 - 250 g jars,19
50,10,Ikura,4,8,12 - 200 ml jars,31
51,22,Gustaf's Knäckebröd,9,5,24 - 500 g pkgs.,21
52,26,Gumbär Gummibärchen,11,3,100 - 250 g bags,31.23
53,44,Gula Malacca,20,2,20 - 2 kg bags,19.45
54,69,Gudbrandsdalsost,15,4,10 kg pkg.,36
55,24,Guaraná Fantástica,10,1,12 - 355 ml cans,4.5
56,37,Gravad lax,17,8,12 - 500 g pkgs.,26
57,6,Grandma's Boysenberry Spread,3,2,12 - 8 oz jars,25
58,31,Gorgonzola Telino,14,4,12 - 100 g pkgs,12.5
59,56,Gnocchi di nonna Alice,26,5,24 - 250 g pkgs.,38
60,15,Genen Shouyu,6,2,24 - 250 ml bottles,15.5
61,33,Geitost,15,4,500 g,2.5
62,71,Fløtemysost,15,4,10 - 500 g pkgs.,21.5
63,52,Filo Mix,24,5,16 - 2 kg boxes,7
64,58,Escargots de Bourgogne,27,8,24 pieces,13.25
65,38,Côte de Blaye,18,1,12 - 75 cl bottles,263.5
66,48,Chocolade,22,3,10 pkgs.,12.75
67,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35
68,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22
69,39,Chartreuse verte,18,1,750 cc per bottle,18
70,2,Chang,1,1,24 - 12 oz bottles,19
71,1,Chais,1,1,10 boxes x 20 bags,18
72,18,Carnarvon Tigers,7,8,16 kg pkg.,62.5
73,60,Camembert Pierrot,28,4,15 - 300 g rounds,34
74,40,Boston Crab Meat,19,8,24 - 4 oz tins,18.4
75,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10
76,17,Alice Mutton,7,6,20 - 1 kg tins,39

In [63]:
query="""
    select *
    from Products
    where ProductName like "%an%";
"""
pd.read_sql(query,db)

,ProductID,ProductName,SupplierID,CategoryID,Unit,Price
0,2,Chang,1,1,24 - 12 oz bottles,19
1,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10
2,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22
3,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35
4,6,Grandma's Boysenberry Spread,3,2,12 - 8 oz jars,25
5,7,Uncle Bob's Organic Dried Pears,3,7,12 - 1 lb pkgs.,30
6,8,Northwoods Cranberry Sauce,3,2,12 - 12 oz jars,40
7,12,Queso Manchego La Pastora,5,4,10 - 500 g pkgs.,38
8,24,Guaraná Fantástica,10,1,12 - 355 ml cans,4.5
9,41,Jack's New England Clam Chowder,19,8,12 - 12 oz cans,9.65
10,42,Singaporean Hokkien Fried Mee,20,5,32 - 1 kg pkgs.,14
11,47,Zaanse koeken,22,3,10 - 4 oz boxes,9.5
12,51,Manjimup Dried Apples,24,7,50 - 300 g pkgs.,53
13,57,Ravioli Angelo,26,5,24 - 250 g pkgs.,19.5
14,65,Louisiana Fiery Hot Pepper Sauce,2,2,32 - 8 oz bottles,21.05
15,66,Louisiana Hot Spiced Okra,2,2,24 - 8 oz jars,17
16,69,Gudbrandsdalsost,15,4,10 kg pkg.,36
17,72,Mozzarella di Giovanni,14,4,24 - 200 g pkgs.,34.8
18,77,Original Frankfurter grüne Soße,12,2,12 boxes,13

In [66]:
# How to merge with (1) pandas
query ="""
    select *
    from Customers
    ;
"""
customers_df=pd.read_sql(query,db)

query ="""
    select *
    from Orders
    ;
"""
orders_df=pd.read_sql(query,db)

In [71]:
orders_df.head()

  OrderID CustomerID EmployeeID   OrderDate ShipperID
0   10248         90          5  1996-07-04         3
1   10249         81          6  1996-07-05         1
2   10250         34          4  1996-07-08         2
3   10251         84          3  1996-07-08         1
4   10252         76          4  1996-07-09         2

In [72]:
customers_df.head()

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,05021,Mexico
2,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,05023,Mexico
3,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK
4,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden

In [73]:
integrated_df=orders_df.merge(customers_df,on="CustomerID")
integrated_df.head()

,OrderID,CustomerID,EmployeeID,OrderDate,ShipperID,CustomerName,ContactName,Address,City,PostalCode,Country
0,10248,90,5,1996-07-04,3,Wilman Kala,Matti Karttunen,Keskuskatu 45,Helsinki,21240,Finland
1,10249,81,6,1996-07-05,1,Tradição Hipermercados,Anabela Domingues,Av. Inês de Castro 414,São Paulo,05634-030,Brazil
2,10292,81,1,1996-08-28,2,Tradição Hipermercados,Anabela Domingues,Av. Inês de Castro 414,São Paulo,05634-030,Brazil
3,10250,34,4,1996-07-08,2,Hanari Carnes,Mario Pontes,Rua do Paço 67,Rio de Janeiro,05454-876,Brazil
4,10253,34,3,1996-07-10,2,Hanari Carnes,Mario Pontes,Rua do Paço 67,Rio de Janeiro,05454-876,Brazil

In [70]:
integrated_df=orders_df.merge(customers_df,on="CustomerID")[["OrderID","CustomerID","ContactName","Address"]]
integrated_df.head()

  OrderID CustomerID        ContactName                  Address
0   10248         90    Matti Karttunen            Keskuskatu 45
1   10249         81  Anabela Domingues  Av. Inês de Castro  414
2   10292         81  Anabela Domingues  Av. Inês de Castro  414
3   10250         34       Mario Pontes          Rua do Paço  67
4   10253         34       Mario Pontes          Rua do Paço  67

In [82]:
# How to merge with (2) Sql

query = """
    select O.OrderID, C.CustomerName
    from Customers C, Orders O
    where
        C.CustomerID == O.CustomerID;
"""
pd.read_sql(query, db).head()

  OrderID                        CustomerName
0   10308  Ana Trujillo Emparedados y helados
1   10365             Antonio Moreno Taquería
2   10355                     Around the Horn
3   10383                     Around the Horn
4   10278                  Berglunds snabbköp

In [88]:
# How to merge with (3) Sql Join
query = """
    select *
    from Customers C
    join Orders O On C.CustomerID=O.CustomerID;
"""
pd.read_sql(query, db).head()

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country,OrderID,CustomerID,EmployeeID,OrderDate,ShipperID
0,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,05021,Mexico,10308,2,7,1996-09-18,3
1,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,05023,Mexico,10365,3,3,1996-11-27,2
2,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK,10355,4,6,1996-11-15,1
3,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK,10383,4,8,1996-12-16,3
4,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden,10278,5,8,1996-08-12,2

In [89]:
query="""
    select * from Orders;
"""
order_df=pd.read_sql(query,db)
order_df.head()

  OrderID CustomerID EmployeeID   OrderDate ShipperID
0   10248         90          5  1996-07-04         3
1   10249         81          6  1996-07-05         1
2   10250         34          4  1996-07-08         2
3   10251         84          3  1996-07-08         1
4   10252         76          4  1996-07-09         2

In [104]:
order_groups=order_df.groupby("OrderDate")
order_groups.head()

    OrderID CustomerID EmployeeID   OrderDate ShipperID    Month
0     10248         90          5  1996-07-04         3  1996-07
1     10249         81          6  1996-07-05         1  1996-07
2     10250         34          4  1996-07-08         2  1996-07
3     10251         84          3  1996-07-08         1  1996-07
4     10252         76          4  1996-07-09         2  1996-07
5     10253         34          3  1996-07-10         2  1996-07
6     10254         14          5  1996-07-11         2  1996-07
7     10255         68          9  1996-07-12         3  1996-07
8     10256         88          3  1996-07-15         2  1996-07
9     10257         35          4  1996-07-16         3  1996-07
10    10258         20          1  1996-07-17         1  1996-07
11    10259         13          4  1996-07-18         3  1996-07
12    10260         55          4  1996-07-19         1  1996-07
13    10261         61          4  1996-07-19         2  1996-07
14    10262         65          8  1996-07-22         3  1996-07
15    10263         20          9  1996-07-23         3  1996-07
16    10264         24          6  1996-07-24         3  1996-07
17    10265          7          2  1996-07-25         1  1996-07
18    10266         87          3  1996-07-26         3  1996-07
19    10267         25          4  1996-07-29         1  1996-07
20    10268         33          8  1996-07-30         3  1996-07
21    10269         89          5  1996-07-31         1  1996-07
22    10270         87          1  1996-08-01         1  1996-08
23    10271         75          6  1996-08-01         2  1996-08
24    10272         65          6  1996-08-02         2  1996-08
25    10273         63          3  1996-08-05         3  1996-08
26    10274         85          6  1996-08-06         1  1996-08
27    10275         49          1  1996-08-07         1  1996-08
28    10276         80          8  1996-08-08         3  1996-08
29    10277         52          2  1996-08-09         3  1996-08
..      ...        ...        ...         ...       ...      ...
166   10414         21          2  1997-01-14         3  1997-01
167   10415         36          3  1997-01-15         1  1997-01
168   10416         87          8  1997-01-16         3  1997-01
169   10417         73          4  1997-01-16         3  1997-01
170   10418         63          4  1997-01-17         1  1997-01
171   10419         68          4  1997-01-20         2  1997-01
172   10420         88          3  1997-01-21         1  1997-01
173   10421         61          8  1997-01-21         1  1997-01
174   10422         27          2  1997-01-22         1  1997-01
175   10423         31          6  1997-01-23         3  1997-01
176   10424         51          7  1997-01-23         2  1997-01
177   10425         41          6  1997-01-24         2  1997-01
178   10426         29          4  1997-01-27         1  1997-01
179   10427         59          4  1997-01-27         2  1997-01
180   10428         66          7  1997-01-28         1  1997-01
181   10429         37          3  1997-01-29         2  1997-01
182   10430         20          4  1997-01-30         1  1997-01
183   10431         10          4  1997-01-30         2  1997-01
184   10432         75          3  1997-01-31         2  1997-01
185   10433         60          3  1997-02-03         3  1997-02
186   10434         24          3  1997-02-03         2  1997-02
187   10435         16          8  1997-02-04         2  1997-02
188   10436          7          3  1997-02-05         2  1997-02
189   10437         87          8  1997-02-05         1  1997-02
190   10438         79          3  1997-02-06         2  1997-02
191   10439         51          6  1997-02-07         3  1997-02
192   10440         71          4  1997-02-10         2  1997-02
193   10441         55          3  1997-02-10         2  1997-02
194   10442         20          3  1997-02-11         2  1997-02
195   10443         66          8  1997-02-12         1  1997-02

[196 rows x 6 columns]

In [105]:
order_count = pd.DataFrame([
    {
        "OrderDate": OrderDate,
        "Count": len(order_groups.get_group(OrderDate)), # <- , 는 습관. 이렇게 해놓으면 나중에 깃허브 변경사항에서 추가할 때 2줄 변경이아니라 한줄만 변경하면됨
    } for OrderDate in order_df["OrderDate"].unique()
])
order_count.head()

   Count   OrderDate
0      1  1996-07-04
1      1  1996-07-05
2      2  1996-07-08
3      1  1996-07-09
4      1  1996-07-10

In [96]:
# For a month
order_df["Month"]=order_df["OrderDate"].apply(lambda x : str(x)[:7])
order_df.head()

  OrderID CustomerID EmployeeID   OrderDate ShipperID    Month
0   10248         90          5  1996-07-04         3  1996-07
1   10249         81          6  1996-07-05         1  1996-07
2   10250         34          4  1996-07-08         2  1996-07
3   10251         84          3  1996-07-08         1  1996-07
4   10252         76          4  1996-07-09         2  1996-07

In [101]:
order_groups=order_df.groupby("Month")
order_count = pd.DataFrame([
    {
        "OrderDate": Month,
        "Count": len(order_groups.get_group(Month)), 
    } for Month in order_df["Month"].unique()
])
order_count.head()

   Count OrderDate
0     22   1996-07
1     25   1996-08
2     23   1996-09
3     26   1996-10
4     25   1996-11

In [107]:
# groupby, join